*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: white;
    padding: 0;
    margin: 0;
}

.container{
    width: 820px;
    height: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.container .big-row div {
    width: 350px;
    height: 110px;
    background-color: #2c3e50;
    display:flex;
    justify-content:center;
    padding: 15px ;
    margin-top: 10px;
}

.container .small-column div {
    width: 220px;
    height: 50px;
    background-color: #2c3e50;
    display:flex;
    justify-content:center;
    padding: 15px ;
    margin-top: 10px;
}
