* {  
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 16px;  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

.header {  
    width: 1200px;
    height: auto;
    background-color: #f5e6d0;
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    padding: 50px;  
    margin: 20px;
    position: relative;
}  

.infor {  
    position: absolute;
    top: 20px;
    right: 30px;
}  

.infor a {
    text-decoration: none;  
    color: #181714;
    font-weight: bold;
}

.infor ul {  
    display: flex;
}  

.infor il {  
    margin-left: 20px;
}  

.content {  
    max-width: 600px;
    margin-top: 75px; 
    margin-left: 50px;
}  

.header h1 {  
    font-size: 40px;  
    font-weight: bold; 
    color: #21243d; 
}  

.header p {  
    margin: 40px 0;  
    font-size: 18px;  
    color: #3e3e51;
}  

.download {  
    padding: 10px 20px;  
    background-color: #ff6b6b;  
    color: white;  
    text-decoration: none;  
    border-radius: 5px;  
}  

.image img{
    width: 180px;
    border-radius: 100%;
    transform: rotate(-22deg);
 }
 .image {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
    margin-right: 80px;
    border-radius: 100%;
    box-shadow: 0px 22px 0px 0px #edf7fa;
    transform: rotate(22deg);
 }

